@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
* {
  font-family: "Carter One", cursive;
}

.Button {
  text-align: center;
  display: grid;
  margin: auto;
  margin-top: 1em;
  background-color: rgb(62, 69, 134);
  border-color: rgb(62, 69, 134);
  border-style: double;
  border-radius: 10px;
  font-size: large;
}
h1 {
  font-size: 2em;
  text-align: center;
  color: rgb(199, 47, 80);
  margin: auto;
}
body {
  font-size: 2em;
  background-color: rgb(31, 34, 61);
}
.OptionList {
  display: grid;
  margin: auto;
}
form {
    padding: 1.5em 1.2em;
  background-color: rgb(167, 33, 33);
  margin-left: 20%;
  margin-right: 20%;
  border: 1rem solid;
  border-radius: 7px;
  border-color: rgb(70, 15, 26);
}

.Question {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  width: 100%;
  background-color: inherit;
  word-break: break-all;
  border: none;
  background-color: inherit;
  border-bottom: 2px double #111;
}

.link {
  text-align: center;
  font-size: 0.7em;
  display: grid;
  margin: auto;
  margin-top: 10px;
  color: rgb(73, 27, 133);
}
.option {
  border: none;
  background-color: inherit;
  border-bottom: 2px dashed #111;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  font-size: 1em;
}
.optionVote{
    border: none;
    background-color: inherit;
    border-bottom: 2px dashed #111;
    display: flex;
    margin: auto;
    width: 100%;
    font-size: 1em;
}

