@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');
* {
  font-family: 'Akshar', sans-serif;
}

.Button {
  text-align: center;
  display: grid;
  margin: auto;
  margin-top: 1em;
  padding: 1%;
  background-color: rgb(58,76,91);
  border-color: rgb(58,76,91);
  border-style: double;
  border-radius: 10px;
  font-size: 0.8em;
}
h1 {
  font-size: 2.2em;
  text-align: center;
  color: rgb(24,33,41);
  margin: auto;
}
body {
  
  font-size: 2em;
  background-color: rgb(55,71,92);
}
.OptionList {
  display: grid;
  margin: auto;
}
form {
  width: 50%;
  padding: 1.5em 1.2em;
  background-color: rgb(73,92,116);
  border: 0.5rem solid;
  border-radius: 5px;
  border-color: rgb(18,27,30);
}
.container {
  
  display: flex;
  justify-content: center;
}

.Question {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.3em;
  width: 100%;
  background-color: inherit;
  word-break: break-all;
  border: none;
  background-color: inherit;
  border-bottom: 2px double #111;
  overflow: auto;
}

.link {
  text-align: center;
  font-size: 0.7em;
  display: grid;
  margin: auto;
  margin-top: 10px;
  color: rgb(1,1,1);
}
.option {
  border: none;
  background-color: inherit;
  border-bottom: 2px dashed #111;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  font-size: 1em;
}
.optionVote{
    border: none;
    background-color: inherit;
    border-bottom: 2px dashed #111;
    display: flex;
    margin: auto;
    width: 100%;
    font-size: 1em;
}

